body { padding: 2%; font: 18px/1.4 sans-serif; }

nav a { color: #000; display: block; padding: 0.5em 1em; text-decoration: none; }
nav a:hover { color: #F55; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }
nav > ul {text-align: center; }
nav > ul > li { display: inline-block; }

ul{
  font-family: "Courier New", Courier, monospace;
  color: #000;
}

ul.menu-wrapper{
  margin: auto;
  width: 90%;
}

.sub-menu-parent,
.sub2-menu-parent,
.sub3-menu-parent,
.sub4-menu-parent { position: relative; }

#menu1{
  cursor:pointer;
  text-align: center;
  background-color: rgba(255, 125, 128, .5);
}

#menu2{
  cursor:pointer;
  text-align: center;
  background-color: rgba(255, 255, 128, .5);
}

#menu3{
  cursor:pointer;
  text-align: center;
  background-color: rgba(128, 255, 128, .5);
}


.sub2menu-parent { visibility: hidden; }

.sub-menu, 
.sub2-menu,
.sub3-menu,
.sub4-menu { 
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #DDD;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub2-menu,
.sub3-menu,
.sub4-menu { 
  width: 90%;
  background: rgba(255, 125, 128);
  top: 0;
  left: 100%;
}

.sub3-menu {
  background-color: rgba(255, 255, 128);
}

.sub4-menu {
  background-color: rgba(128, 255, 128);
}

.sub-menu-parent:hover .sub-menu,
.sub2-menu-parent,
.sub2-menu-parent:hover .sub2-menu,
.sub3-menu-parent,
.sub3-menu-parent:hover .sub3-menu,
.sub4-menu-parent,
.sub4-menu-parent:hover .sub4-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}